.footer {
  padding: 22px 0 22px 0;
  background-color: $color-footer;

  &__copyright {
    font-size: 11px;
    color: $color-footer-content;
    font-family: $font-default;
    margin: auto 0 auto 0;
  }

  &__icon {
    width: 14px;
    height: 14px;
    margin: auto;
  }

  &__icon-svg {
    fill: $color-footer-content;
  }

  &__icon-wrapper {
    @extend .flex;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid $color-footer-content;
    margin-right: 7px;

    &:last-child {
      margin-right: 0;
    }
  }
}
