.main-content {
  width: $content-width;
  margin: auto;
}

.wrapper {
  width: $wrapper-width;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  height: 100%;
}

.flex {
  display: flex;
}

.flex_column {
  flex-direction: column;
}

.flex_start {
  align-items: flex-start;
}

.flex_wrap {
  flex-wrap: wrap;
}

.flex_align-between {
  align-content: space-between;
}

.flex_justify-between {
  justify-content: space-between;
}


.flex_end {
  align-items: flex-end;
}

.ml_auto {
  margin-left: auto;
};

.mr_auto {
  margin-right: auto;
};

.mt_auto {
  margin-top: auto;
};
