$color-header: #2d303a;
$color-asterisk: #e36861;
$color-focus: #f06c64;
$color-header-line: #323746;
$color-slider-line: #ea676b;
$color-slider: #f06c64;
$color-our-services: #f2f2f2;
$color-our-services-title: #666d89;
$color-our-desc-services: #767e9e;
$color-our-services-line: white;
$color-arrow-hover: #8e4747;

//Font
$font-our-services-desc-weight: 300;
$font-our-services-weight: 900;
$font-our-services-size: 3rem;
$font-our-services-desc-size: 1.8rem;
$font-our-services-desc-line-height: 3.0rem;
$font-service-title-size: 1.8rem;
$font-service-description-size: 1.2rem;
$font-service-description-line-height: 2.2rem;
$font-service-description-wight: 400;
$font-services-title-line-height: 1.8rem;


//Layout
$content-width: 1020px;
$wrapper-width: 940px;
$header-line-height: 6px;
$slider-height: 600px;
$our-services-height: 500px;
$service-width: 300px;

//absolute coordinates
$iphone-vertical-left: 72px;
$iphone-vertical-top: 58px;
$iphone-horizontal-right: 71px;
$iphone-horizontal-top: 179px;
