.arrow:hover {
  cursor: pointer;
  background-color: $color-arrow-hover;
  transition: all 1s;
}

.arrow__slider_right {
  transform: rotate(180deg);
  text-align: right;
  right: 0;
}

.arrow__slider {
  position: absolute;
  top: 286px;
  bottom: 286px;
}
