$iphone-vertical-left: 72px;
$iphone-vertical-top: 58px;
$iphone-horizontal-right: 71px;
$iphone-horizontal-top: 179px;

.iphone_vertical {
  position: absolute;
  left: $iphone-vertical-left;
  top: $iphone-vertical-top;
}

.iphone_horizontal {
  position: absolute;
  right: $iphone-horizontal-right;
  top: $iphone-horizontal-top;
}
