.line {
  height: 6px;
}

.line_header {
  background-color: $color-header-line;
}

.line_slider {
  background-color: $color-slider-line;
}

.line_our-services {
  background-color: $color-our-services-line;
}
