
.our-services {
  background-color: $color-our-services;
  height: $our-services-height;
  padding: 67px 0 66px 0;
  box-sizing: border-box
}

.our-services__title {
  margin: 0 0 33px 0;
  @include services-title-font($font-our-services-size);
}

.our-services__description {
  margin-bottom: 50px;
  line-height: $font-our-services-desc-line-height;
  font-size: $font-our-services-desc-size;
  color: $color-our-desc-services;
  font-family: "Lato", sans-serif;
  font-weight: $font-our-services-desc-weight;
}
