
.service {
  width: $service-width;
}

.service__icon {
  margin-right: 20px;
}

.service__title {
  margin: 0 0 15px 0;
  @include services-title-font($font-service-title-size)
}

.service__description {
  font-size: $font-service-description-size;
  line-height: $font-service-description-line-height;
  color: $color-our-desc-services;
  font-family: "Lato", sans-serif;
  font-weight: $font-service-description-wight;
}
