
.all-services {
  flex-grow: 2;
}

.our-services__service {
  margin-bottom: 37px;
}

.service {
  width: $service-width;
}

.service__icon {
  margin-right: 20px;
}

.service__title {
  margin-bottom: 15px;
  @include services-title-font($font-service-title-size)
}

.service__description {
  font-size: $font-service-description-size;
  line-height: $font-service-description-line-height;
  color: $color-our-desc-services;
  font-family: $font-default;
  font-weight: $font-service-description-wight;
}

